@import '../../../styles/variables.scss';

.button {
  width: 100%;
  padding: 15px;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $border-radius-md;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-primary-dark;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 12px;
    font-size: $font-size-md;
  }
}