@import '../../styles/variables.scss';

.actionsWrapper {
  position: sticky;
  bottom: 50px;
  left: 0;
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  z-index: 1000;
}

.crossBtn,
.heartBtn {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: -9px 9px 17px #bebebe,
    9px -9px 17px #ffffff;
  cursor: pointer;
  touch-action: manipulation;
}

.crossBtn {
  background: #ef6b67; 
}

.heartBtn {
  background: #34b17a; 
}