@import '../styles/variables.scss';

.appRoot {
  min-height: 100vh;
  background: $background-color;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.appRoot > *:not(nav) {
  margin-bottom: 70px;
}
